.social-networks {

  span {
    display: block;
    margin: 0 0 30px;
  }

}
.social-networks__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.5;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 35px;
    fill: #00a4f9;
  }

}

@media (min-width: $tablet-portrait) {

  .social-networks {

    span {
      display: inline-block;
      vertical-align: middle;
      margin: 10px 10px 10px 0;
    }

  }
  .social-networks__item {
    width: 52px;
    height: 52px;

    svg {
      width: 48px;
    }

  }

}
@media (min-width: $desktop-hd) {

  .social-networks {

    span {
      //font-size: 26px;
      //display: inline-block;
    }

  }

}
